# Java
*.class
*.log
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Maven
target/
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# IntelliJ
.idea/
*.iml
*.iws

# Other
.DS_Store
